@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

#search {
  border: 2px solid white;
  box-shadow: 2px 2px 1px 1px #e0dede;
  width: 20rem;
  border-radius: 10px;
  font-size: 1.5rem;
  padding-left: 5px;

  /* Glass effects */
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#search::placeholder {
  color: white;
  font-size: 22px;
  font-style: italic;
  padding-left: 5px;
}

#search:hover {
  background: rgba(255, 255, 255, 0.479);
}

.content {
  gap: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #2a2a2a;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: blue;
  color: white;
  text-align: center;
}

/* stylings for the weekly forecast */

.weekly-weather {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: transparent;
  width: clamp(1400px, 70vw, 2000px);
  padding: 5px;
  height: clamp(230px, 20vh, 240px);
  border-radius: 1rem;
  gap: 1rem;
}

.weekly-weather > div {
  padding-top: 0.3rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.day {
  display: flex;
  background-color: white;
  flex-direction: column;
  border: 3px solid #efefef;
  position: relative;
  box-shadow: 2px 2px 1px 1px #e0dede;
  height: inherit;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 8px;
  gap: 6px;
}

.day:hover {
  background: rgba(255, 255, 255, 0.479);
}

.weather-icon {
  height: 55%;
}

.temp-container {
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temp {
  font-size: 1.5rem;
}

/* Stylings for the day forcast */

.today-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 1rem;
  width: clamp(1400px, 70vw, 2000px);
  height: 50rem;
}

.today-weather {
  color: white;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
  /* glass effect */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hourly-weather {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
  font-size: 1.4rem;
}

.hourly-weather > * {
  align-self: center;
  justify-self: center;
}

.hourly-icon {
  height: 3.5rem;
}

.today-info {
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
  /* glass effect */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.location {
  font-size: 3.3rem;
}

.today-date {
  font-size: 2.3rem;
}

.description {
  font-size: 1.7rem;
}

.content2 {
  max-height: 15em;
  display: flex;
  flex-direction: column;
}

.content2 > img {
  position: relative;
  top: -30%;
}

.temp-info {
  display: flex;
  position: relative;
  top: -50%;
  align-self: center;
  gap: 1rem;
}

.today-temp {
  font-size: 3.5rem;
}

.today-temp2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1 / span 2;
  gap: 1rem;
  padding: 0.5rem;
}

.content3 > div {
  /* glass effect */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.activitysugg {
  /* glass effect */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* toggle switch styling*/
label {
  color: white;
}

input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-size: inherit;
  width: 2.5em;
  height: 1.2em;
  box-sizing: content-box;
  border: 1px solid white;
  border-radius: 1em;
  vertical-align: text-bottom;
  margin: auto;
  color: inherit;
  background-color: white;
}

input:where([type="checkbox"][role="switch"]):checked {
  background-color: #efefef;
}

input:where([type="checkbox"][role="switch"])::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  background: currentcolor;
}

input:where([type="checkbox"][role="switch"]):checked::before {
  left: 1.4em;
}
