@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 10fr 0.5fr;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

#search {
  font-size: 1.5rem;
  padding-left: 5px;
}

.content {
  gap: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: blue;
  color: white;
  text-align: center;
}

#search {
  border-radius: 10px;
  width: 20rem;
  border: 1px solid black;
}

/* stylings for the weekly forecast */

.weekly-weather {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: white;
  width: clamp(1400px, 70vw, 2000px);
  padding: 5px;
  height: clamp(230px, 20vh, 240px);
  border-radius: 1rem;
  gap: 6px;
}

.day {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 90%;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 8px;
  gap: 6px;
}

.weather-icon {
  border: 1px solid black;
  height: 55%;
}

.temp-container {
  border: 1px solid black;
}

.temp {
  font-size: 18px;
}

.today-weather {
  border-radius: 1rem;
  background-color: white;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  width: 30vw;
  max-width: 550px;
  min-height: 600px;
  height: 70%;
}

.hourly-weather {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid black;
}

.hourly-weather > div {
  border: 1px solid black;
}
